h1 {
  color: black;
}
.app {

}
 footer{
  color: black;
 }

.navbar{
  border-bottom: solid;
  p {
    text-align: right;
  }
  
}

.home-container{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.article-card {
  border: solid;
  margin: 10px;  
}
.article-page-card {
  border: solid;
  text-align: center;
  margin: 10px;
  
}
.article-image {
    width: 100px;
    height: 100px%;
  }